<nav class="flex mt-2" aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
    <li class="inline-flex items-center">
      <a href="<%= root_path %>" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600  ">
        <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
        </svg>
        Início
      </a>
    </li>
    <li>
      <div class="flex items-center">
        <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
        </svg>
        <a href="<%= institutions_path %>" class="ms-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ms-2  "><%= CONSTANTS::DASHBOARD::INSTITUTION_TITLE %></a>
      </div>
    </li>
  </ol>
</nav>

<section class="flex flex-col space-y-4 mt-10">
  <%= turbo_frame_tag :alert_index_frame do %>
  <% end %>
  <div class="flex flex-col sm:flex-row space-y-1 sm:space-y-0 sm:justify-between">
    <%= form_with url: institution_searchs_path, method: :get, data: { turbo_stream: true }, class: "flex gap-2 flex-row w-full sm:w-4/6 mr-2" do %>
      <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only ">Search</label>
      <div class="relative w-full">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
          <svg class="w-4 h-4 text-gray-500 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
          </svg>
        </div>
        <%= text_field_tag :search, nil, id: "default-search", class: "block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500", placeholder: "Nome da instituição" %>
      </div>
      <%= submit_tag "Buscar", class: "text-white end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2" %>
    <% end %>

    <div data-controller="open-modal-by-click" class="w-full sm:w-2/6 flex justify-end">
      <button data-action="click->open-modal-by-click#show" type="button" class="w-full inline-flex items-center justify-center px-4 py-2 text-sm font-medium text-white bg-blue-700 border border-transparent rounded-md hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300   ">
        <svg class="w-4 h-4 mr-2 -ml-1 text-white" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
          <path fill-rule="evenodd" clip-rule="evenodd" d="m10 3a7 7 0 1 0 0 14 7 7 0 0 0 0-14Zm0 12a5 5 0 1 1 0-10 5 5 0 0 1 0 10Z" />
          <path d="m10 1a9 9 0 1 0 0 18 9 9 0 0 0 0-18Zm0 16a7 7 0 1 1 0-14 7 7 0 0 1 0 14Z" />
        </svg>
        <span>Cadastrar <%= CONSTANTS::DASHBOARD::INSTITUTION_TITLE %></span>
      </button>
      <div id="create-institution-modal" data-open-modal-by-click-target="modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-4 w-full max-w-md max-h-full">
          <div class="relative bg-white rounded-lg shadow ">
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t ">
              <h3 class="text-lg font-semibold text-gray-900 "> Criar Instituição </h3>
              <button type="button" data-action="click->open-modal-by-click#hide" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center  ">
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                </svg>
                <span class="sr-only">Close modal</span>
              </button>
            </div>

            <form class="p-4 md:p-5" action=<%= institutions_path %> method="post" data-turbo="true" data-turbo-frame="form_institution_content_frame">
              <%= turbo_frame_tag :form_institution_content_frame do %>
                <div class="grid gap-4 mb-4 grid-cols-2">
                  <div class="col-span-2">
                    <label for="name" class="block mb-2 text-sm font-medium text-gray-900 ">Nome</label>
                    <input type="text" name="institution[name]" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5      " placeholder="Nome da Instituição" required="">
                  </div>
                  <div class="col-span-2">
                    <label for="sectors" class="block mb-2 text-sm font-medium text-gray-900 ">Selecione o setor</label>
                    <select id="sectors" name="institution[sector_id]"class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5      ">
                      <option selected>Escolha um setor</option>
                      <% Sector.all.each do |sector| %>
                        <option value="<%= sector.id %>"><%= sector.name %></option>
                      <% end %>
                    </select>
                  </div>
                </div>
                <div class="mb-2">
                  <label for="document_types" class="block mb-2 text-sm font-medium text-gray-900 ">Selecione os tipos de documentos</label>
                  <div class="grid grid-cols-2 gap-4">
                    <% DocumentType.all.each do |document_type| %>
                      <div class="flex items-center">
                        <input type="checkbox" name="institution[document_type_ids][]" id="document_type_<%= document_type.id %>" checked value="<%= document_type.id %>" class="text-blue-500 focus:ring-blue-500 focus:border-blue-500   ">
                        <label for="document_type_<%= document_type.id %>" class="ms-2 text-sm text-gray-900 "><%= document_type.name %></label>
                      </div>
                    <% end %>
                  </div>
                </div>
                <button type="submit" class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center   ">
                  <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path>
                  </svg> Salvar
                </button>
              <% end %>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg" data-controller="open-modal-by-click">
    <%= turbo_frame_tag :institutions_list_frame do %>
      <%= render Table::Component.new() do |c| %>
        <% c.with_header do %>
          <th scope="col" class="px-6 py-3">
            <span class="flex items-center justify-center">Nome</span>
          </th>
          <th scope="col" class="px-6 py-3"> 
            <span class="flex items-center justify-center">Editar</span>
          </th>
          <th scope="col" class="px-6 py-3">
            <span class="flex items-center justify-center">Excluir</span>
          </th>
          <th scope="col" class="px-6 py-3">
            <span class="flex items-center justify-center">Ver recebimentos</span>
          </th>
          <th scope="col" class="px-6 py-3">
            <span class="flex items-center justify-center">Cadastrar Documento</span>
          </th>
        <% end %>
        <% c.with_set_rows do %>
          <% @records&.each do |institution|%>
            <tr class="odd:bg-white odd: even:bg-gray-50 even: border-b ">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap "> <%= institution.name %> </th>
              <td class="px-6 py-4">
                <div class="flex items-center justify-center">
                  <form action="<%= edit_institution_path(institution.id) %>" method="post" data-turbo="true" data-turbo-frame="form_edit_institution_content_frame" data-remote="true">
                    <div data-action="click->open-modal-by-click#show">
                      <input type="hidden" name="_method" value="get">
                      <button type="submit" class="text-blue-500 hover:text-blue-700">
                        <svg class="w-6 h-6 text-gray-800 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"/>
                        </svg>
                      </button>
                    </div>
                  </form>
                </div>
              </td>
              <td class="flex items-center justify-center px-6 py-4">
                <form action="<%= institution_path(institution.id) %>" method="post" data-turbo="true" data-remote="true">
                  <input type="hidden" name="_method" value="delete">
                  <button type="submit" class="text-blue-500 hover:text-blue-700">
                    <svg class="w-6 h-6 text-gray-800 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
                    </svg>
                  </button>
                </form>
              </td>
              <td class="px-6 py-4 ">
                <div class="flex justify-center items-center">
                  <a href="<%= document_records_path(institution_id: institution.id) %>" data-turbo="false" class="inline-flex items-center justify-center px-4 py-2 text-sm font-medium text-white border border-transparent rounded-md">
                    <svg class="w-6 h-6 text-gray-800 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-width="2" d="M21 12c0 1.2-4.03 6-9 6s-9-4.8-9-6c0-1.2 4.03-6 9-6s9 4.8 9 6Z"/>
                      <path stroke="currentColor" stroke-width="2" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                    </svg>
                  </a>
                </div>
              </td>          
              <td class="px-6 py-4 ">
                <div data-controller="open-modal-by-click" class="flex justify-center items-center">
                  <button type="button" data-action="click->open-modal-by-click#show" class="inline-flex items-center justify-center px-4 py-2 text-sm font-medium text-white border border-transparent rounded-md">
                    <svg class="w-6 h-6 text-gray-800 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 7.757v8.486M7.757 12h8.486M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                    </svg>
                  </button>
                  <div id="create-document_record-modal-<%= institution.id %>" data-open-modal-by-click-target="modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                    <div class="relative p-4 w-full max-w-md max-h-full">
                      <div class="relative bg-white rounded-lg shadow ">
                        <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t ">
                          <h3 class="text-lg font-semibold text-gray-900 "> Registrar Recebimento </h3>
                          <button type="button" data-action="click->open-modal-by-click#hide" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center  ">
                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                            </svg>
                            <span class="sr-only">Close modal</span>
                          </button>
                        </div>

                        <%= turbo_frame_tag "form_document_record_content_frame_#{institution.id}" do %>
                          <form class="p-4 md:p-5" action=<%= document_records_path %> method="post" data-turbo="true" data-turbo-frame="form_document_record_content_frame">
                            <% form_info = { institution: institution } %>
                            <%= render 'document_records/form', form_info: form_info %>
                          </form>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>
          <%= will_paginate @records %>
        <% end %>
      <% end %>
    <% end %>

    <div id="edit-institution-modal" data-open-modal-by-click-target="modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
      <div class="relative p-4 w-full max-w-md max-h-full">
        <div class="relative bg-white rounded-lg shadow ">
          <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t ">
            <h3 class="text-lg font-semibold text-gray-900 "> Editar Instituição </h3>
            <button type="button" data-action="click->open-modal-by-click#hide" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center  ">
              <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
              </svg>
              <span class="sr-only">Close modal</span>
            </button>
          </div>

          <%= turbo_frame_tag :form_edit_institution_content_frame do %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
