<section>
  <h1 class="font-bold mb-2"><%= @institution.name %></h1>
  <h1 class="font-bold">Meses com pendências do ano atual</h1>
  <div class="flex flex-row">
    <div class="flex flex-row">
      <% if Date.new(Date.today.year, 1, 1).past? && @institution.fetch_by_status_and_date(status: DocumentRecord::PENDING, date: Date.new(Date.today.year, 1, 1)).exists? %>
        <%= link_to "Janeiro", document_records_path(institution_id: @institution.id, status: DocumentRecord::PENDING, reference_month: Date.new(Date.today.year, 1, 1).strftime("%Y-%m")), class: "hover:underline hover:text-blue-400" %>
        <span class="flex w-3 h-3 me-3 bg-yellow-300 rounded-full"></span>
      <% end %>
    </div>
    <div class="flex flex-row">
      <% if Date.new(Date.today.year, 2, 1).past? && @institution.fetch_by_status_and_date(status: DocumentRecord::PENDING, date: Date.new(Date.today.year, 2, 1)).exists? %>
        <%= link_to "Fevereiro", document_records_path(institution_id: @institution.id, status: DocumentRecord::PENDING, reference_month: Date.new(Date.today.year, 2, 1).strftime("%Y-%m")), class: "hover:underline hover:text-blue-400" %>
        <span class="flex w-3 h-3 me-3 bg-yellow-300 rounded-full"></span>
      <% end %>
    </div>
    <div class="flex flex-row">
      <% if Date.new(Date.today.year, 3, 1).past? && @institution.fetch_by_status_and_date(status: DocumentRecord::PENDING, date: Date.new(Date.today.year, 3, 1)).exists? %>
        <%= link_to "Março", document_records_path(institution_id: @institution.id, status: DocumentRecord::PENDING, reference_month: Date.new(Date.today.year, 3, 1).strftime("%Y-%m")), class: "hover:underline hover:text-blue-400" %>
        <span class="flex w-3 h-3 me-3 bg-yellow-300 rounded-full"></span>
      <% end %>
    </div>
    <div class="flex flex-row">
      <% if Date.new(Date.today.year, 4, 1).past? && @institution.fetch_by_status_and_date(status: DocumentRecord::PENDING, date: Date.new(Date.today.year, 4, 1)).exists? %>
        <%= link_to "Abril", document_records_path(institution_id: @institution.id, status: DocumentRecord::PENDING, reference_month: Date.new(Date.today.year, 4, 1).strftime("%Y-%m")), class: "hover:underline hover:text-blue-400" %>
        <span class="flex w-3 h-3 me-3 bg-yellow-300 rounded-full"></span>
      <% end %>
    </div>
    <div class="flex flex-row">
      <% if Date.new(Date.today.year, 5, 1).past? && @institution.fetch_by_status_and_date(status: DocumentRecord::PENDING, date: Date.new(Date.today.year, 5, 1)).exists? %>
        <%= link_to "Maio", document_records_path(institution_id: @institution.id, status: DocumentRecord::PENDING, reference_month: Date.new(Date.today.year, 5, 1).strftime("%Y-%m")), class: "hover:underline hover:text-blue-400" %>
        <span class="flex w-3 h-3 me-3 bg-yellow-300 rounded-full"></span>
      <% end %>
    </div>
    <div class="flex flex-row">
      <% if Date.new(Date.today.year, 6, 1).past? && @institution.fetch_by_status_and_date(status: DocumentRecord::PENDING, date: Date.new(Date.today.year, 6, 1)).exists? %>
        <%= link_to "Junho", document_records_path(institution_id: @institution.id, status: DocumentRecord::PENDING, reference_month: Date.new(Date.today.year, 6, 1).strftime("%Y-%m")), class: "hover:underline hover:text-blue-400" %>
        <span class="flex w-3 h-3 me-3 bg-yellow-300 rounded-full"></span>
      <% end %>
    </div>
    <div class="flex flex-row">
      <% if Date.new(Date.today.year, 7, 1).past? && @institution.fetch_by_status_and_date(status: DocumentRecord::PENDING, date: Date.new(Date.today.year, 7, 1)).exists? %>
        <%= link_to "Julho", document_records_path(institution_id: @institution.id, status: DocumentRecord::PENDING, reference_month: Date.new(Date.today.year, 7, 1).strftime("%Y-%m")), class: "hover:underline hover:text-blue-400" %>
        <span class="flex w-3 h-3 me-3 bg-yellow-300 rounded-full"></span>
      <% end %>
    </div>
    <div class="flex flex-row">
      <% if Date.new(Date.today.year, 8, 1).past? && @institution.fetch_by_status_and_date(status: DocumentRecord::PENDING, date: Date.new(Date.today.year, 8, 1)).exists? %>
        <%= link_to "Agosto", document_records_path(institution_id: @institution.id, status: DocumentRecord::PENDING, reference_month: Date.new(Date.today.year, 8, 1).strftime("%Y-%m")), class: "hover:underline hover:text-blue-400" %>
        <span class="flex w-3 h-3 me-3 bg-yellow-300 rounded-full"></span>
      <% end %>
    </div>
    <div class="flex flex-row">
      <% if Date.new(Date.today.year, 9, 1).past? && @institution.fetch_by_status_and_date(status: DocumentRecord::PENDING, date: Date.new(Date.today.year, 9, 1)).exists? %>
        <%= link_to "Setembro", document_records_path(institution_id: @institution.id, status: DocumentRecord::PENDING, reference_month: Date.new(Date.today.year, 9, 1).strftime("%Y-%m")), class: "hover:underline hover:text-blue-400" %>
        <span class="flex w-3 h-3 me-3 bg-yellow-300 rounded-full"></span>
      <% end %>
    </div>
    <div class="flex flex-row">
      <% if Date.new(Date.today.year, 10, 1).past? && @institution.fetch_by_status_and_date(status: DocumentRecord::PENDING, date: Date.new(Date.today.year, 10, 1)).exists? %>
        <%= link_to "Outubro", document_records_path(institution_id: @institution.id, status: DocumentRecord::PENDING, reference_month: Date.new(Date.today.year, 10, 1).strftime("%Y-%m")), class: "hover:underline hover:text-blue-400" %>
        <span class="flex w-3 h-3 me-3 bg-yellow-300 rounded-full"></span>
      <% end %>
    </div>
    <div class="flex flex-row">
      <% if Date.new(Date.today.year, 11, 1).past? && @institution.fetch_by_status_and_date(status: DocumentRecord::PENDING, date: Date.new(Date.today.year, 11, 1)).exists? %>
        <%= link_to "Novembro", document_records_path(institution_id: @institution.id, status: DocumentRecord::PENDING, reference_month: Date.new(Date.today.year, 11, 1).strftime("%Y-%m")), class: "hover:underline hover:text-blue-400" %>
        <span class="flex w-3 h-3 me-3 bg-yellow-300 rounded-full"></span>
      <% end %>
    </div>
    <div class="flex flex-row">
      <% if Date.new(Date.today.year, 12, 1).past? && @institution.fetch_by_status_and_date(status: DocumentRecord::PENDING, date: Date.new(Date.today.year, 12, 1)).exists? %>
        <%= link_to "Dezembro", document_records_path(institution_id: @institution.id, status: DocumentRecord::PENDING, reference_month: Date.new(Date.today.year, 12, 1).strftime("%Y-%m")), class: "hover:underline hover:text-blue-400" %>
        <span class="flex w-3 h-3 me-3 bg-yellow-300 rounded-full"></span>
      <% end %>
    </div>
  </div>
</section>
<section class="flex flex-col space-y-3 mt-10">
  <%= form_with url: document_records_path, method: :get do |form| %>
    <%= form.select :status, [["Entregues", DocumentRecord::DELIVERED], ["Pendentes", DocumentRecord::PENDING]],  :selected => @status, class: "bg-blue-200" %>
    <%= form.month_field :reference_month, value: @date %>
    <%= form.hidden_field :institution_id, value: @institution.id %>
    <%= form.submit "Buscar", class: "rounded-lg p-2 bg-blue-200" %>
  <% end %>
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg" data-controller="open-modal-by-click">
    <% if @status == DocumentRecord::DELIVERED %>
      <p class="font-bold my-4">Documentos Recebidos</p>
    <% else %>
        <p class="font-bold my-4">Documentos obrigatórios que não foram entregues</p>
    <% end %>

    <%= turbo_frame_tag :document_records_list_frame do %>
      <%= render Table::Component.new() do |c| %>
        <% c.with_header do %>
          <th scope="col" class="px-6 py-3"> Documento </th>
          <% if @status == DocumentRecord::DELIVERED %>
            <th scope="col" class="px-6 py-3"> Excluir </th>
          <% end %>
        <% end %>
        <% c.with_set_rows do %>
          <% @document_types&.each do |document_type|%>
            <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"> <%= document_type.name %> </th>
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              <% if @status == DocumentRecord::DELIVERED %>
                <%= form_with url: document_record_path(@institution.document_records.where(document_type: document_type).first), method: :delete do |form| %>
                  <%= form.hidden_field :id, value: document_type.id %>
                  <%= form.submit "Exluir", class: "rounded-lg cursor-pointer p-2 bg-red-400" %>
                <% end %>
              <% end %>
              </th>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <% if @status == DocumentRecord::PENDING  && @document_with_pendencies.present? %>
      <p class="font-bold my-4">Documentos registrados com pendência</p>
      <%= render Table::Component.new() do |c| %>
        <% c.with_header do %>
          <th scope="col" class="px-6 py-3"> Documento </th>
          <th scope="col" class="px-6 py-3"> Descrição da Pendência </th>
          <th scope="col" class="px-6 py-3"> Marcar como entregue </th>
        <% end %>
        <% c.with_set_rows do %>
          <% @document_with_pendencies&.each do |document_with_pendency|%>
            <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"> <%= document_with_pendency.document_type.name %> </th>
              <td class="px-6 py-4 whitespace-nowrap dark:text-white"> <%= document_with_pendency.pendency %> </td>
              <td class="px-6 py-4 whitespace-nowrap dark:text-white">
                <%= form_with url: deliver_document_path, method: :post do |form| %>
                  <%= form.hidden_field :document_record_id, value: document_with_pendency.id %>
                  <%= form.submit "Marcar como Entregue", class: "cursor-pointer rounded-lg p-2 bg-yellow-200" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</section>
